
ul{
    list-style: none;
    
    width: 50%;
    margin: 0  auto;
    
    justify-content: center;
    align-items: center;
    border-radius: 0%;
}
li{
    
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #65626246;

}
.text{
    font-size: 20px;
}
.dueDate{
  font-size: 14px;
}
input[type="checkbox"]{
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]:checked{
    background-color: #37816d;
    border-color: #007bff;
}
input[type="checkbox"]:checked::before{
    content: "\2713"; /* Biểu tượng dấu check (dùng mã Unicode) */
    color: white; /* Màu của dấu check */
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
li button{
    background-color: #1e2b6d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
li button:hover{
    background-color: #ff2e0b;
}
input[type="text"]{
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b11b1b;
    border-radius: 5px;
}
.add-button{
  background-color: #ff2e0b;
  border-radius: 10%;
  outline: none;
  list-style: none;
  border: none;
  height: 40px;
  margin-left: 2px;
  
}
.add-button:hover{
  background-color: #1e6d26;
}

